*   {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkslategray;
    text-align: center;
    color: whitesmoke;
    font-size: 25px;
    margin-left: 100px;
    margin-right: 100px;
}

h1  {
    font-family:"Brush Script MT";
    font-size: 150px;
}

img {
    height: 300px;
    width: auto;
}

h3, h4  {
    text-decoration: underline;
}

li  {
    text-align: start;
}


